/* Base styles for dark/light */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  transition: background-color 0.3s, color 0.3s;
}
html {
  scroll-behavior: smooth;
}


.light {
  background-color: #ffffff;
  color: #111111;
}

.dark {
  background-color: #121212;
  color: #f0f0f0;
}

a {
  color: inherit;
  text-decoration: none;
}

html { scroll-behavior: smooth; }